# IDEs
.idea/*
*.iml
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
atlassian-ide-plugin.xml
*.swp
*.out
target
target/*
.factorypath
.setting/
.settings/
.project/
*/.project
.project
.classpath
projectFilesBackup/*
